.recentOrders {
    flex: 1 1 300px;
    height: 100%;
    width: 100%;
    background: var(--white);
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

.divMedium {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.divMedium::-webkit-scrollbar {
    display: none;
}
 
.cardHeader {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: var(--blue);
    width: 100%;
}

.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
}

.cardHeader select {
    position: relative;
    padding: 5px 10px;
    background: var(--white);
    text-decoration: none;
    color: var(--blue);
    border-radius: 6px;
    border-color: var(--blue);

}

.table {
    width: 100%;
    height: max-content;
    border-collapse: collapse;
}

.table thead td {
    position: sticky;
    top: 0;
    font-weight: 600;
    background-color: var(--white);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recentOrders table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recentOrders table tr:last-child {
    border-bottom: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recentOrders table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recentOrders table tr td {
    text-align: center;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recentOrders table tr td:last-child {
    text-align: end;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recentOrders table tr td:nth-child(1) {
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


