/* =============== Navigation ================ */
.navigation {
    position: fixed;
    width: 250px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.navigationactive {
    position: fixed;
    width: 80px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.navigation ul,
.navigationactive ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li,
.navigationactive ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered,
.navigationactive ul li:hover,
.navigationactive ul li.hovered {
    background-color: var(--white);
}

.navigation ul li:nth-child(1),
.navigationactive ul li:nth-child(1) {
    margin-bottom: 40px;
}

.navigation ul li:nth-child(1):hover,
.navigation ul li:nth-child(1).hovered,
.navigationactive ul li:nth-child(1):hover,
.navigationactive ul li:nth-child(1).hovered {
    background-color: transparent;
}

.navigation ul li a,
.navigationactive ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a,
.navigationactive ul li:hover a,
.navigationactive ul li.hovered a {
    color: var(--black1);
}

.navigation ul li a .icon,
.navigationactive ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}

.navigation ul li a .title,
.navigationactive ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li a .titlelogo,
.navigationactive ul li a .titlelogo {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
    color: var(--white);
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before,
.navigationactive ul li:hover a::before,
.navigationactive ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after,
.navigationactive ul li:hover a::after,
.navigationactive ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover:nth-child(1) a::before,
.navigation ul li .hovered:nth-child(1) a::before,
.navigationactive ul li:hover:nth-child(1) a::before,
.navigationactive ul li .hovered:nth-child(1) a::before {
    display: none;
}

.navigation ul li:hover:nth-child(1) a::after,
.navigation ul li .hovered:nth-child(1) a::after,
.navigationactive ul li:hover:nth-child(1) a::after,
.navigationactive ul li .hovered:nth-child(1) a::after {
    display: none;
}

/* ===================== Main ===================== */
.main {
    position: absolute;
    width: calc(100% - 250px);
    left: 250px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.mainactive {
    position: absolute;
    width: calc(100% - 80px);
    left: 80px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--white);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.searchbtn {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--black2);
}

.search {
    position: relative;
    margin: 0 10px;
}

.search label {
    position: relative;
    display: inline-flex;
    color: var(--blue);
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
    background-color: var(--white);
}

.user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Logo principal sidebar */
.logosidebar {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
    margin: 10px;
}

.logosidebar img {
    position: absolute;
    top: 3px;
    left: 5px;
    width: 80%;
    height: 80%;
}

/* Mobile */
@media (max-width: 700px) {    
    .navigationactive {
        position: fixed;
        width: 100%;
        height: 60px;
        background: var(--blue);
        border-left: 0;
        transition: 0.5s;
        overflow: hidden;
        bottom: 0;
        left: 0;
        z-index: 999;
    }
    .mainactive {
        position: absolute;
        width: 100%;
        left: 0;
        min-height: 100vh;
        background: var(--white);
        transition: 0.5s;
        padding-bottom: 60px;
    }
    .toggle {
        display: none;
    }
    .search {
        width: 300px;
    }
    .navigation ul,
    .navigationactive ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .navigation ul li,
    .navigationactive ul li {
        position: relative;
        list-style: none;
        height: 60px;
        flex: 1 1 60px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .navigation ul li:nth-child(1),
    .navigationactive ul li:nth-child(1) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-color: transparent;
    }

    .navigation ul li:hover,
    .navigation ul li.hovered,
    .navigationactive ul li:hover,
    .navigationactive ul li.hovered {
        background-color: var(--white);
    }

    .navigation ul li:nth-child(1):hover,
    .navigation ul li:nth-child(1).hovered,
    .navigationactive ul li:nth-child(1):hover,
    .navigationactive ul li:nth-child(1).hovered {
        background-color: transparent;
    }

    .navigation ul li a,
    .navigationactive ul li a {
        position: relative;
        display: flex;
        text-decoration: none;
        color: var(--white);
    }

    .navigation ul li:hover a,
    .navigation ul li.hovered a,
    .navigationactive ul li:hover a,
    .navigationactive ul li.hovered a {
        color: var(--black1);
        width: auto;
    }

    .navigation ul li a .icon,
    .navigationactive ul li a .icon {
        position: relative;
        display: block;
        height: 60px;
        line-height: 75px;
        text-align: center;
    }

    .navigation ul li a .title,
    .navigationactive ul li a .title {
        display: none;
    }

    .navigation ul li a .titlelogo,
    .navigationactive ul li a .titlelogo {
        display: none;
    }

    /* --------- curve outside ---------- */
    .navigation ul li:hover a::before,
    .navigation ul li.hovered a::before,
    .navigationactive ul li:hover a::before,
    .navigationactive ul li.hovered a::before {
        content: "";
        position: absolute;
        right: -50px;
        top: 0;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border-radius: 50%;
        box-shadow: -35px -35px 0 10px var(--white);
        pointer-events: none;
    }

    .navigation ul li:hover a::after,
    .navigation ul li.hovered a::after,
    .navigationactive ul li:hover a::after,
    .navigationactive ul li.hovered a::after {
        content: "";
        position: absolute;
        left: -50px;
        top: 0;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border-radius: 50%;
        box-shadow: 35px -35px 0 10px var(--white);
        pointer-events: none;
    }
    .logosidebar {
        border-radius: 0;
        margin: 10px;

    }
    .logosidebar img {
        position: absolute;
        top: 6px;
        left: 5px;
        width: 80%;
        height: 80%;
    }
}