.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.cardBox .card {
    position: relative;
    background: var(--white);
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1 1 250px;
    width: 200px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

.cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--blue);
}

.cardBox .card .cardName {
    color: var(--black2);
    font-size: 1.1rem;
    margin-top: 5px;
}

.cardBox .card .iconBx {
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    color: var(--black2);
}

.cardBox .card:hover {
    background: var(--blue);
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
    color: var(--white);
}